header,
footer {
    background-color: teal;
    align-content: center;
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 1.5rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.line {
    align-content: left;
}

img {
    float: right;
    margin: 20px;
    box-shadow: 10px 10px 10px grey;
}

.dateMod {
    color: yellow;
}

.byui {
    color: white;

}

a:visited {
    color: white;
}

h2{
    text-align: center;
}