@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

header,
footer {
    background-color: teal;
    align-content: center;
    color: white;
    text-align: center;
}

header {
    font-family: 'Roboto', sans-serif;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}




header img {
    width: 200px;
    height: auto;
    margin: 20px;
    

}

.dateMod {
    color: yellow;
}

ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
}

.byui {
    color: white;

}

a:visited {
    color: purple;
}


h1 {
    font-size: 3.5vw;;
    margin: 0.15rem;
    
    font-weight: 900;
}

h2 {
    text-align: center;
    font-size: 1rem;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: border-box;

}

body {
    font-size: 18px; /*this is now 1rem*/
}