
header,
footer {
    background-color: teal;
    align-content: center;
    color: white;
    text-align: center;
    padding: 1.5rem;
    
    
}

header{
    font-family: 'Vollkorn', serif;
}

body{
    
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}




header img {
    width: 200px;
    height: auto;
    
    margin: 20px;
   
}

.dateMod {
    color: yellow;
}

ul{
    font-size: 1.25rem;
}

.byui {
    color: white;

}

a:visited {
    color: white;
}

h1{
font-size: 1.5rem;
margin: 0.15rem;
}

h2{
    text-align: center;
    font-size: 1rem;
}
