

header{
    background-color: #4169E1;
    color: white;
    text-align: center;    
    padding: .5rem;
    overflow: hidden;
    font-size: 2rem;  
    
}


h1{
    margin: 0;
    font-family: 'AsAP', sans-serif;
}
h2, p, footer{
   font-family: 'Bitter', sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    
}

nav{
    background-color: #ccc;
}
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.9);
    color: white;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.1);
}

nav ul.hide{
    display: none;
}

li{
    list-style-type: none;
    
    margin: 0;
}

main{
    margin: 0;
    background-color:white;
}

p{
    margin: 0;
    color: black;
    font-size: 1.5rem;
}

h2{
    margin: 0;
    color: black;
    font-size: 4rem;
}



footer{
    padding: .3rem 0rem .3rem 0rem;
    position: relative;
    bottom: 0;
    background-color: #4169E1;
    color: white;
}

body{
    background-color: #808080;
    margin: 0;   
}

section img{
    width: 100%;
}

.weatherHeader{
    border-style: solid;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-content: center;
    margin: .5rem;
    background-color: rgba(255,255,255,.5)
}

#current{
    text-align: center;
    font-size: 4rem;
    grid-column: 9/span 10;
    grid-row: 4/span 5;
    font-weight: bold;
}

#feels{
    text-align: center;
    grid-column: 9/span 10;
    grid-row: 8/span 9;
    font-size: 1rem;
}

#high{
    text-align: center;
    grid-column: 3/span 4;
    grid-row: 5/span 6;
    color: red;
}

#low{
    text-align: center;
    grid-column: 20/span 21;
    grid-row: 5/span 6;
    color: blue;
}

#gusts{
    font-size: 1.2rem;
    grid-column: 15/span 18;
    grid-row: 10/span 12;
}

#wind{
    font-size: 1.2rem;
    grid-column: 6/span 9;
    grid-row: 10/span12;
}

#section{
    background-size: cover;
}

.clear{
    background-image: url("/weather/images/clear800.jpg");
}

.rain{
    background-image: url("/weather/images/rain800.jpg");
}

.fog{
    background-image: url("/weather/images/fog800.jpg");
}

.snow{
    background-image: url("/weather/images/snow800.jpg");
}

.clouds{
    background-image: url("/weather/images/clouds800.jpg");
}

.hide{
    display: none;
}

/* Constrain condition images */
#condition img{
    max-width: 40%;
  }